Progress, our distinctive mark alone.<br /> 
Not divine, and not the beast's.<br /> 
Divine is, they are.<br />
We partly are; and wholly hope to be.<br />
<sub>Adapted from Robert Browning's 'A Death in the Desert'</sub>

<hr />
<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="https://ramblingjordan.github.io/resume">Resume</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-th-large fa-lg main-list-item-icon"></span>
    <a href="https://www.gitshowcase.com/ramblingjordan">Portfolio</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github-square fa-lg main-list-item-icon"></span>
    <a href="https://github.com/ramblingjordan">Code</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-envelope fa-lg main-list-item-icon"></span>
    <a href="https://ramblingjordan.github.io/contact">Contact</a>
  </li>
</ul>
